node_modules
**/node_modules
*.log
**/*.log
.git
**/.git
.github
**/.github
.svelte-kit
**/.svelte-kit
.env*
**/.env*
.DS_Store
**/.DS_Store
build
**/build
.gitignore
**/.gitignore
Dockerfile
**/Dockerfile
docker-compose.yml
**/docker-compose.yml
